.main {
  background: #F5F7FB;
  height: 100%;
  text-align: center;

  .pixi-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center
  }

  .control-panel {
    .setting-item {
      margin-top: 10px;
    }

    span {
      display: inline-block;
      text-align: left;
      min-width: 120px;
    }

    .rc-slider {
      display: inline-block;
      width: calc(100% - 200px);
    }
  }

  #downloader {
    font-size: 20px;
    font-weight: bold;
  }
}
